body,h1,h2,p {
  line-height: 1.6;
  margin: 0;
}
h1 {
  font-size: 35px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #655b6693;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #52c5e1;
  background-image: linear-gradient(#b112a4d6 30%, #e7e432c0 100%);
  padding: 20px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.name {
  display: block;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  color: #e80a0a;
}

h3 {
  color: #288b6e;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  font-size: 18px;
}
li a {
  text-decoration: none;
  color: rgb(227, 16, 16);
  font-weight: 600;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.proDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.proj {
  padding: 10px;
}

#projects img {
  padding: 5px;
  width: 600px;
  height: 300px;
}
.git {
  display: flex;
}

footer {
  background-color: #241e1e;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Responsive Design using media queries */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 20px;
  }
}

.project1 {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#about div {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 0px 20px 0px 70px;
}

#about div img {
  border-radius: 100%;
}
